/*@import url(http://fonts.googleapis.com/css?family=PT+Sans); 




.login-body {
    background-color: #f1f2f7;font-family: 'PT Sans', sans-serif;
}

.login-form {
    max-width: 350px;
    margin: 200px auto 0;
    background: rgba(244,231,223,.8);    
}
.login-img-body .login-form{
    max-width: 350px;
    margin: 200px auto 0;
    background: rgba(213,215,222,0.4);
    border: 1px solid #B0B6BE;
}
.login-img2-body .login-form{
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
}
.login-form{
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
}
.login-img3-body .login-form{
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.9);
}
.login-form a{
    color: #688a7e !important;
}
 h2.login-form-heading {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #34aadc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.checkbox {
    margin-bottom: 14px;
}
.checkbox {
    font-weight: normal;    
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
 .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control:focus {
    z-index: 2;
}
.login-img{
    font-size: 50px;
    font-weight: 300;    
}

.input-group{
    padding-bottom: 15px;
}
.input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
input[type="text"], .login-form input[type="password"] {    
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0; 
}
.login-form .btn{
    border-radius: 0;
}
.login-form .btn-login {
    background: #f67a6e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px #e56b60;
    margin-bottom: 20px;
}

.login-form p {
    text-align: center;
    color: rgba(0,101,170,1);font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.login-img3-body .login-form p,.login-img2-body .login-form p {
    color: #34aadc;
}
.login-form a {
    color: #b6b6b6;
}

.login-form a:hover {
    color: #34aadc;
}
.form .required{
    font-size: 16px;
    color: #00a0df;
}

.login-wrap {
    padding: 20px; border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
}

.login-social-link  {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.login-social-link a {
    color: #fff;
    padding: 15px 28px;
    border-radius: 4px;
}

.login-social-link a:hover {
    color: #fff;
}

.login-social-link a i {
    font-size: 20px;
    padding-right: 10px;
}

.login-social-link a.facebook {
    background: #5193ea;
    margin-right: 22px;
    box-shadow: 0 4px #2775e2;
	float:left;
}

.login-social-link a.twitter {
    background: #44ccfe;
    box-shadow: 0 4px #2bb4e8;
	float:left;
}


.main-top{
	width:30%; margin:0 auto; font-family: 'PT Sans', sans-serif; margin-top:8%
}
 */







.gwt-TabBar {
	background: #ccc;
	padding-top: 0px !important;
}

.gwt-TabBar .gwt-TabBarFirst {
	width: 190px !important; /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {
	
}

.gwt-TabBar .gwt-TabBarItem {
	margin-left: 20px !important;
	/*padding: 4px 8px 4px 8px;*/
	padding: 8px 18px 8px 18px !important;
	cursor: pointer;
	cursor: hand;
	color: white;
	font-weight: normal;
	text-align: center;
	background: #8E8E8E;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: white !important;
	color: #333;
	font-weight: bold;
}

.gwt-TabBar .gwt-TabBarItem-disabled {
	cursor: default;
	color: #999999;
}
.inline {
	
	font-stretch: wider;
	font-size: 18px;
	font-weight: bold;
}



